@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../Web/assets/fonts/inter-v20-latin-500-1.woff2) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../Web/assets/fonts/inter-v20-latin-700-1.woff2) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../Web/assets/fonts/inter-v20-latin-regular-1.woff2) format('truetype');
}

@font-face {
  font-family: 'material-icons-outlined';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../Web/assets/fonts/material-icons-outlined-v110-latin-regular-1.woff2) format('truetype');
}

@font-face {
  font-family: 'staatliches';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../Web/assets/fonts/staatliches-v15-latin-regular-1.woff2) format('truetype');
}
